@model DrawNet.Draw.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="row" style="background-color: #0e1e3f; border-bottom: 1px solid #0c1d3f">
    <h4 class="text-center text-bold vertical-buffer-10">@ViewBag.Title</h4>
</div>
<div class="row" style="padding: 10px 20px 0 20px;">
    <section id="forgotPassword">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {role = "form"}))
        {
            @Html.AntiForgeryToken()
            <h4>Enter your email.</h4>
            <p>Enter the Email associated with your account, then click Continue. We'll email you a link to a page where you can easily create a new password.</p>
            @Html.ValidationSummary("", new {@class = "text-danger"})
            <div class="form-group icon-addon addon-md top-buffer-15">
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control placeholder-dark-gray", @placeholder = "Email Address"})
                <label for="email" class="glyphicon glyphicon-user text-info" rel="tooltip" title="Username"></label>
                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
            </div>
            <div class="form-group top-buffer-15">
                <button type="submit" class="btn btn-lg btn-success btn-block">Continue Password Recovery</button>
            </div>
        }
    </section>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
